extends layout

block jackson
  h1= title
  p Welcome to
    |Me
  form(id="sdf", method="POST", action="/books")
    input(name="name")
    input(name="author")
    input(name="copy")
    input(type="submit", value="Submit")